<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="entities" />

	<bean id="myFortuneService" class="entites.HappyFortuneService"> 
	</bean>


	<bean id="baseball" class="entites.BaseballCoach">
	    <constructor-arg ref="myFortuneService" />
	</bean>
	<bean id="criket" class="entites.CriketCoach">
	     <property name="fortuneService" ref="myFortuneService" />
	     <property name="email" value="nguyenphan1122k3@gmail.com"/>
	     <property name="team" value="Criket team"/>
	</bean>
	<bean id="tenis" class="entites.TennisCoach">
	    <constructor-arg ref="myFortuneService" />
	</bean>

</beans>
