<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PhanNguyenKhoiNguyen_21068021_Bai06</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GiangVienController</display-name>
    <servlet-name>GiangVienController</servlet-name>
    <servlet-class>controller.GiangVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiangVienController</servlet-name>
    <url-pattern>/GiangVienController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeTaiController</display-name>
    <servlet-name>DeTaiController</servlet-name>
    <servlet-class>controller.DeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeTaiController</servlet-name>
    <url-pattern>/DeTaiController</url-pattern>
  </servlet-mapping>
</web-app>